@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #F6F6F6;
    --cor-secundaria: black;
    --cor-terciaria: #618E3F;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}
body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    height: 100vh;
}

.cabecalho {
    font-family: var(--fonte-secundaria);
    display: flex;
    height: 10%;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 10%;
}

.cabecalho__navegacao {
    display: flex;
    gap: 76px;
    position: relative;
}

.cabecalho__navegacao__link, .rodape__texto {
    text-decoration: none;
    color: var(--cor-terciaria);
    
    /* background-color: blue; */
    
}

.cabecalho__navegacao__link:hover {
    font-weight: bold;
}

.container__texto__titulo {
    font-family: var(--fonte-primaria);
    color: var(--cor-terciaria);
    font-weight: normal;
    width: 30rem;
    font-size: 1.5rem;
}

.container__texto__texto {
    font-family: var(--fonte-secundaria);  
    width: 27rem;
    margin-top: 1.7rem;
    margin-bottom: 1.7rem;
    font-size: 1.3rem;
    font-weight: normal;
}

.container__links {
    display: flex;
    list-style-type: none;
    width: 7.4rem;
    gap: 10px;
}


.container {
    display: flex;
    gap: 3.25rem;
    margin-bottom: 15%;
    justify-content: center;
    align-items: center;
}

.texto__destaque {
    color: var(--cor-secundaria);
    font-weight: bold;
}

.rodape {
    font-family: var(--fonte-secundaria);
    display: flex;
    /* background-color: rgba(137, 43, 226, 0.383);  */
    justify-content: center;
    align-items: center;
    height: 8%;
    bottom: 0;
    width: 100%;
    margin-top: 10%;
}

.rodape__texto {
    width: auto;
}

@media (max-width: 920px) {

    .cabecalho {
        justify-content: space-around;
        margin: 0;
        margin-bottom: 10%;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .container__texto__texto {
        font-size: 1rem;
    }
    
    .container__texto__titulo {
        font-size: 23px;
        width: 300px;
        text-align: start;
    }
    
    .container__texto__texto {
        font-size: 18px;
        width: 230px;
    }
    
    
    .container__links__links {
        width: 40px;
    }
    
    
    
    
    
    

   
}




